doctype html

html
  head
    title 最初のアプリ: こんにちは, 世界! 
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")
  body
    nav
      ul
        li 
          a(href="/english")
            img.flag(src="/images/flag-of-USA.png"
            alt="US flag"
            title="Go to US English site")
        li
          a(href="/french")
            img.flag(src="/images/flag-of-France.png"
            alt="French flag"
            title="Go to French site")
        li
          a.current(href="/japanese")
            img.flag(src="/images/flag-of-Japan.png"
            alt="Japanese flag"
            title="Go to Japanese site")
        li
          a(href="/serbian")
            img.flag(src="/images/flag-of-Serbia.png"
            alt="Serbian flag"
            title="Go to Serbian site")
    header 
      h1 こんにちは, 世界! 
    main 
      p これは私の最初のアプリです!
      img(src="images/earth.jpg" alt="The Earth" title="The Earth")
