doctype html

html
  head
    title Ово је наслов странице 
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")
  body
    nav
      ul
        li 
          a.current(href="/english")
            img.flag(src="/images/flag-of-USA.png"
            alt="US flag"
            title="Go to US English site")
        li
          a(href="/french")
            img.flag(src="/images/flag-of-France.png"
            alt="French flag"
            title="Go to French site")
        li
          a(href="/japanese")
            img.flag(src="/images/flag-of-Japan.png"
            alt="Japanese flag"
            title="Go to Japanese site")
        li
          a.current(href="/serbian")
            img.flag(src="/images/flag-of-Serbia.png"
            alt="Serbian flag"
            title="Go to Serbian site")
    header 
      h1 Здраво свете!
    main 
      p TУскоро ћу бити софтверски инжењер!
      img(src="images/earth.jpg" alt="Планета Земља" title="Планета Земља")
