extends layout

block navigation_links
  ul
    li 
      a.current(href="/english")
        img.flag(src="/images/flag-of-USA.png"
        alt="US flag"
        title="Go to US English site")
    li
      a(href="/french")
        img.flag(src="/images/flag-of-France.png"
        alt="Drapeau de la France"
        title="Aller sur le site français")
    li
      a(href="/japanese")
        img.flag(src="/images/flag-of-Japan.png"
        alt="日本の国旗"
        title="日本語版ページを見る")
    li
      a(href="/serbian")
        img.flag(src="/images/flag-of-Serbia.png"
        alt="Застава Србије"
        title="Идите на српски сајт")
