doctype html 

html(lang=language)
  head 
    block page_title 
      title First app: Hello World!
    meta(charset="UTF-8")
    link(rel="stylesheet" href="stylesheets/application.css")
  body 
    nav
      ul
        each country in countries
          li 
            a(href=country.path class=currentClassForRequestedPath(country.path, requestedPath))
              img.flag(src=`images/${country.flag}`
              alt=country.alt
              title=country.title)
    header 
      block greeting
        h1 Hello World! 

    main 
      block first_app
        p This is my first app!
        img(src="images/earth.jpg" alt="The Earth" title="The Earth")